$black: #050505;
$white: #f0f0f0;
$rose: #e1306d;
$blue: #354360;
$green: #41bd9a;

$bear_dark_green: #093826;
$bear_middle_green: #146b0f;
$bear_light_green: #33f56a;
$bear_dark_brown: #1c0312;
$bear_middle_pink: #f5836c;

$rose-opaque: rgb(225, 48, 109, 0.2);
$blue-opaque: rgb(53, 67, 96, 0.2);
$green-opaque: rgb(65, 189, 154, 0.2);
