{% extends "base.html" %}
<!-- title -->
{% block title %}About{% endblock %}
<!-- content -->
{% block content%}
<main id="main-area">
  <section id="form-area">
    <h2>Calculation page</h2>
    <hr />
    <h3>Lets do some calculations. Enter 2 numbers!</h3>
    <form method="post">
      <label for="number_1">Number 1</label>
      <input type="number" name="number_1" id="number_1" required />
      <label for="number_2">Number 2</label>
      <input type="number" name="number_2" id="number_2" required />

      <button type="submit" name="submit-numbers">Calculate</button>
    </form>
    <hr />
  </section>
  <article>
    {% if Number_1 != None and number_2 != None %}
    <p>
      The solution of the calculation
      <span> {{ number_1 }} + {{ number_2 }} </span> =
      <span>{{ add_nums }} </span>
    </p>
    <p>
      The solution of the calculation
      <span> {{ number_1 }} - {{ number_2 }} </span> =
      <span>{{ substract_nums }}</span>
    </p>
    <p>
      The solution of the calculation
      <span> {{ number_1 }} * {{ number_2 }} </span> =
      <span>{{ multiply_nums }}</span>
    </p>
    <p>
      The solution of the calculation
      <span> {{ number_1 }} / {{ number_2 }} </span> =
      <span>{{ divide_nums }}</span>
    </p>
    <hr />
    <p>
      The remainder of the calculation
      <span> {{ number_1 }} % {{ number_2 }} </span> =
      <span>{{ remainder_nums }}</span>
    </p>
    {% endif %}
  </article>
</main>

{% endblock %}
